[Container]
ContainerName=caddy
Image=ghcr.io/neiios/caddy:latest
AutoUpdate=registry

# PublishPort=80:80
# PublishPort=443:443
# TODO: Add a separate caddy network and add containers to it
Network=host
# To increase UDP buffer size. See https://github.com/quic-go/quic-go/wiki/UDP-Buffer-Sizes
AddCapability=NET_ADMIN

Volume=/etc/containers/systemd/caddy/:/etc/caddy/
Volume=caddy-data:/data/

Secret=caddy_porkbun_api_key,type=env,target=PORKBUN_API_KEY
Secret=caddy_porkbun_api_secret_key,type=env,target=PORKBUN_API_SECRET_KEY

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
