# This thing is not fully automated; I need to manually create a user on first run
# Also setting up DKIM, DMARC, SPF and MTA-STS is manual
# podman exec -it mailserver setup email add igor@localhost25565.com
# podman exec -it mailserver setup alias add postmaster@localhost25565.com igor@localhost25565.com
# https://docker-mailserver.github.io/docker-mailserver/latest/config/best-practices/dkim_dmarc_spf/
[Unit]
After=init-secrets.service caddy.service

[Container]
Image=ghcr.io/docker-mailserver/docker-mailserver:latest
ContainerName=mailserver
AutoUpdate=registry

HostName=mail.localhost25565.com
PublishPort=25:25
PublishPort=143:143
PublishPort=465:465
PublishPort=587:587
PublishPort=993:993
AddCapability=CAP_NET_ADMIN
Volume=mailserver-mail-data:/var/mail/
Volume=mailserver-mail-state:/var/mail-state/
Volume=mailserver-mail-logs:/var/log/mail/
Volume=mailserver-config:/tmp/docker-mailserver/
Environment=ENABLE_FAIL2BAN=0
Environment=ENABLE_MTA_STS=1
StopTimeout=60
HealthCmd="ss --listening --tcp | grep -P 'LISTEN.+:smtp' || exit 1"
HealthTimeout=3s
HealthRetries=1

# WARNING! Major hack territory
# Use SSL certs from Caddy
Environment=SSL_TYPE=letsencrypt
Volume=/var/lib/containers/storage/volumes/caddy-data/_data/caddy/certificates/acme-v02.api.letsencrypt.org-directory/mail.localhost25565.com/mail.localhost25565.com.crt:/etc/letsencrypt/live/mail.localhost25565.com/fullchain.pem:z
Volume=/var/lib/containers/storage/volumes/caddy-data/_data/caddy/certificates/acme-v02.api.letsencrypt.org-directory/mail.localhost25565.com/mail.localhost25565.com.key:/etc/letsencrypt/live/mail.localhost25565.com/privkey.pem:z

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
