[Unit]
Description=Caddy Container
After=network-online.target

[Container]
Image=docker.io/library/caddy:latest
ContainerName=caddy
AutoUpdate=registry

# PublishPort=80:80/tcp
# PublishPort=443:443/tcp
# PublishPort=443:443/udp
# AddCapability=NET_ADMIN
# TODO: Add a separate caddy network and add containers to it
Network=host
Volume=/etc/caddy/:/etc/caddy/
Volume=caddy-data:/data/

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
