[Unit]
Description=Initialize Secrets

[Service]
Type=oneshot
ExecStart=/bin/bash -c "age -d -i /etc/ssh/ssh_host_ed25519_key /etc/systemd/system/init-secrets.sh.age | bash"
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
