hel.sgf.lt {
	respond "Oh, hi Mark!"
}

bw.sgf.lt {
	reverse_proxy 127.0.0.1:8000 {
		header_up X-Real-IP {remote_host}
	}
}

st.sgf.lt {
	reverse_proxy 127.0.0.1:8384 {
		header_up Host {upstream_hostport}
	}
}

mail.sgf.lt {
	respond "Hello from DMS"
}
