*.sgf.lt {
	tls {
		# TODO: document why these two lines are needed
		propagation_timeout -1
		propagation_delay 30s

		dns porkbun {
			api_key {$PORKBUN_API_KEY}
			api_secret_key {$PORKBUN_API_SECRET_KEY}
		}
	}

	@jellyfin host jellyfin.localhost25565.com
	handle @jellyfin {
		reverse_proxy 127.0.0.1:8096 {
			header_up X-Real-IP {remote_host}
		}
	}
}


