*.sgf.lt {
	tls {
		propagation_timeout -1
		propagation_delay 30s
		dns ovh {
			endpoint {$OVH_ENDPOINT}
			application_key {$OVH_APPLICATION_KEY}
			application_secret {$OVH_APPLICATION_SECRET}
			consumer_key {$OVH_CONSUMER_KEY}
		}
	}

	@jellyfin host jellyfin.sgf.lt
	handle @jellyfin {
		reverse_proxy 127.0.0.1:8096 {
			header_up X-Real-IP {remote_host}
		}
	}
}


