on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - run: |
          sudo apt-get update -y
          sudo apt-get install -y podman buildah skopeo
          git clone https://github.com/neiios/homelab
          cd homelab
      - run: ./scripts/build-porkbun-caddy.sh
